{% extends 'base.html' %}

{% block title %}View product{% endblock %}

{% block heading %}View product{% endblock %}

{% block main %}

<table>
    <tr>
        <th>{{ product.name }}</th>
        <td>{{ product.price }} Ft</td>
    </tr>
</table>
<hr>

{% if session['username'] %}
<h2>Leave a comment:</h2>
<form action="" method="post">
    <textarea name="content" cols="100" rows="10"></textarea>
    <button type="submit">Post comment</button>
</form>
{% endif %}

<h2>Comments:</h2>
{% for comment in comments %}
    <h3>{{ comment.author }}</h3>
    <h4>{{ comment.date }}</h4>
    <p>{{ comment.content }}</p>
    {% if comment.author == session.username %}
     <form action="{{ url_for('delete_comment', comment_id=comment.id) }}" method="post">
        <button type="submit">Delete</button>
    </form>
    {% endif %}
{% endfor %}

{% endblock %}
